$color: rgb(200, 200, 200);
$color-light: white;
.panel-heading {
    color: #fff;
    background-color: #343a40;
}

.no-border {
    border: 0;
    box-shadow: none;
    /* You may want to include this as bootstrap applies these styles too */
}

input[type="number"] {
    color: #fff;
    background-color: #555555;
    border: 1px solid #fff;
}

.form-control {
    background-color: #424242;
    -webkit-box-shadow: none;
    font-size: 16px;
    height: 28px;
}

.mat-card {
    margin-bottom: 5px;
    padding: 15px 15px 5px 15px;
}

.btn-default.btn-on.active {
    background-color: #5BB75B;
    color: white;
}

.btn-default.btn-off.active {
    background-color: #DA4F49;
    color: white;
}

.switch .form-control {
    border: none;
    padding-left: 0px;
    padding-top: 0px;
}

.switch .btn {
    padding: 7px;
}

label {
    font-size: 10px;
}

hr {
    margin-top: 0px;
    margin-bottom: 10px;
}

.time {
    font-family: 'Share Tech Mono', sans-serif;
    font-size: 4em;
}

.text {
    font-family: 'Share Tech Mono', sans-serif;
    text-transform: uppercase;
    color: white;
    font-size: 1.5em;
    text-align: center;
    cursor: pointer;
    margin-bottom: 10px;
    a {
        text-decoration: none;
        color: inherit;
        transition: color .1s ease-out;
        &:hover {
            color: $color;
        }
    }
}

.mat-card {
    font-family: 'Share Tech Mono', sans-serif;
}