<!-- <div class="page-header">
  <h1>Receita
    <small>Detalhes</small>
  </h1>
</div> -->

<form>

  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">DADOS</h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="altura">Nome</label>
                <input type="text" class="form-control">
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label for="altura">L/KG</label>
                <input type="number" class="form-control">
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label for="altura">Grãos</label>
                <input type="number" class="form-control">
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label for="altura">Lote</label>
                <input type="number" class="form-control">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">RAMPAS DE MOSTURA</h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-12">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th></th>
                    <th>Temperatura</th>
                    <th>Minutos</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let r of rampas">
                    <td>
                      <button class="btn btn-primary btn-xs">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                      </button>
                    </td>
                    <td>{{r.temperatura}}</td>
                    <td>{{r.minutos}}</td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <th>
                      <button class="btn btn-primary btn-xs">
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                      </button>
                    </th>
                    <th>
                      <input type="number" class="form-control input-sm">
                    </th>
                    <th>
                      <input type="number" class="form-control input-sm">
                    </th>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-5">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">ADIÇÕES DE LÚPULO</h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-12">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th></th>
                    <th>Lúpulo</th>
                    <th>Qtde.</th>
                    <th>Minutos</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let l of lupulos">
                    <td>
                      <button class="btn btn-primary btn-xs">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                      </button>
                    </td>
                    <td>{{l.lupulo}}</td>
                    <td>{{l.qtde}}</td>
                    <td>{{l.minutos}}</td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <th>
                      <button class="btn btn-primary btn-xs">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                      </button>
                    </th>
                    <th>
                      <input type="text" class="form-control input-sm">
                    </th>
                    <th>
                      <input type="number" class="form-control input-sm">
                    </th>
                    <th>
                      <input type="text" class="form-control input-sm">
                    </th>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>