<div class="page-header">
  <h1>Receita
    <small>Detalhes</small>
  </h1>
</div>

<!-- <form>
  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">HLT</h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-6 form-group">
              <label for="altura">Altura</label>
              <input type="number" class="form-control">
            </div>
            <div class="col-md-6 form-group">
              <label for="altura">Diâmetro</label>
              <input type="number" class="form-control">
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 form-group">
              <label for="altura">Espaço perdido</label>
              <input type="number" class="form-control">
            </div>
            <div class="col-md-6 form-group">
              <label for="altura">Capacidade</label>
              <input type="number" class="form-control" readonly>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block">SALVAR</button>
      </div>
    </div>
  </div>
</form> -->