/* You can add global styles to this file, and also import other style files */

@import 'variables';
@import '../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap';
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";
body {
    text-align: left;
    background-color: #00000005;
}

.navbar-static-top {
    margin-bottom: 19px;
}