/* You can add global styles to this file, and also import other style files */

@import 'variables';
@import '../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap';
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";
@font-face {
    font-family: 'Share Tech Mono';
    src: url('assets/ShareTechMono-Regular.ttf') format("opentype");
}

html,
body {
    height: 100%;
    font-family: 'Share Tech Mono', monospace;
    text-transform: uppercase;
}

body {
    text-align: left;
    background-color: #f5f5f5;
}